* {
    margin: 0%;
    padding: 0%;
}

.main {
    width: 99%;
    height: 730px;
    background-size: cover;
}

.navbar {
    height: 70px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color:rgb(255, 114, 0) ;
}

.icon {
    width: 100px;
    float: left;
    height: 70px;
}

.icon img {
    max-width: 72px;
    padding-left: 20px;
}

.menu {
    width: 400px;
    height: 70px;
    float: left;
}

ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

ul li {
    margin-left: 30px;
    margin-top: 25px;
    font-size: 20px;
}

ul li a {
    text-decoration: none;
    font-family: "Ubuntu", arial;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    transition: 0.35s ease-in-out;

}

ul li a:hover {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgb(12, 12, 12);
    transform: scale(1.1);
}

.loginAs {
    width: 400px;
    margin-right: 60px;
    float: right;
    text-align: right;
}

.btn {
    width: 200px;
    height: 40px;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    margin-top: 16px;
    border-radius: 5px;
    font-size: 17px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
    transition: 0.35s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 10px black;
    font-weight: bolder;
    background-color: white;
    color: black;
    border: 3px solid rgb(8, 8, 8);
}



/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Header */
header {
    text-align: center;
    padding: 20px;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 25px;
}

/* Card Container */
.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 40px;
    justify-items: center;
}

/* Card Styles */
.card {
    background-color: white;
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    /* color: rgb(255, 114, 0); */
    color: black;
    font-size: 18px;
    font-weight: bold;
}

/* Hover Effect */
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}